<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes app</title>
  </head>
  <body>
    <section class="min-h-screen text-white">
      <div class="border-2 border-white mx-auto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        incidunt omnis aspernatur labore nemo itaque eligendi nesciunt dolor
        ullam esse cum vero ea at quas quaerat blanditiis nam ratione, alias
        laudantium cupiditate autem atque aperiam. Laboriosam sit numquam
        expedita tenetur ipsum maiores veritatis corrupti maxime minus,
        molestias nesciunt, quod delectus consectetur quibusdam explicabo error
        voluptate in omnis pariatur reprehenderit aperiam molestiae perspiciatis
        labore voluptatum! Ipsum praesentium modi tenetur delectus, voluptatibus
        iste laborum magni earum provident? Dignissimos ipsum dolores, quas
        consequuntur magni laboriosam vitae amet dolorum delectus et quam ipsa,
        accusantium sit excepturi pariatur. Quam repellat dolor aut ipsam.
        Dignissimos, repudiandae.
      </div>
    </section>
  </body>
</html>
